events {
  worker_connections 1024;
}

http {
    upstream express-app {
        server ${API_HOST}:${API_PORT};
    }
    server {
        listen 80;
        location / {
            proxy_pass http://express-app;
        }
    }
}